<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ news.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div>
            <ul class="nav navbar-nav navbar-left">
              <li><a href={% url 'search:index' %}>搜索主页</a></li>
              <li><a href={% url 'search:latest' %}>时下新闻</a></li>
              <li><a href={% url 'search:hotlist' %}>球队热度</a></li>
            </ul>
      </nav>

    <div class="container theme-showcase" role="main" style="height: 100%; width: 80%;">
        <div class="page-header">
                <h6 style="text-align: left; font-size: 30px; line-height: 60px">
                {{ news.title }} </h6>
        </div>
    </div>
    
    <div class="container theme-showcase" role="main" style="width: 80%;">
        <div>
            <h5>来源：{{ news.source}}</h5>
            <h5>时间：{{news.date}} </h5>
        </div>
        <br>
        <br>
        <div>
            <p style="white-space: pre-line; font-size: 15px">{{news.content | safe}}</p>
        </div>
    </div>

    {{name.content}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
